.footer-p {
  font-size: 1.2rem;
  font-family: cursive;
}

.footer-img-sponsor {
  width: 2.3rem;
  margin: 0 1rem 0 0;
}

.footer-img-sponsor-ps5 {
  width: 4.5rem;
  margin: 0 1rem 0 0;
}
